header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 5vh;
    padding-inline: 10px;
    background-color: $clrSecondery;
    color: whitesmoke;

.user-info {
    @media (max-width: 600px) {
        display: none;
    }
}


    a {
        margin-inline-start: 1em;
    }
}