// COLOR PALETTE
$clrMain: #f9de6e;
$clrSecondery: #1d1908;
$clrWhite: #ffffff;
$clrGreay: #d6ceb2a6;
$clrLinks: #c7f6e4;


// LAYOUT
$layoutPadding: 16px;

// LAYOUT BREAKPOINTS
$break-narrow: 600px;
$break-normal: 960px;
$break-wide: 1300px;
$break-Extra-wide: 1700px;